.navbars {
  padding: 0.5rem 0;
  background: transparent;
  backdrop-filter: blur(8.5px);
  border-bottom: 1px solid #ffeeff;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__right,
    &__left {
      align-items: center;
      display: flex;

      &-icon {
        color: #ffeeff;
        cursor: pointer;
        display: none;
        margin-left: 0.5rem;
      }

      &-logo {
        margin-left: 0.8rem;

        img {
          width: 75px;
        }
      }
      &-links {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0;
        &__item {
          margin-left: 2rem;

          a {
            font-weight: 500;
            color: #ffeeff;
          }
        }
      }
      &-btn {
        background-color: #2eb573;
        width: 150px;
        padding: 0.3rem 0;
        text-align: center;
        border-radius: 0.5rem;
        color: #ffeeff;
        margin-left: 1rem;
      }
      &-cart {
        color: #ffeeff;
      }
    }

    @media screen and (max-width: 992px) {
      &__right {
        &-icon {
          display: block;
        }
        &-links {
          position: absolute;
          content: "";
          top: 100%;
          right: -100%;
          background-color: #ffeeff;
          flex-direction: column;
          text-align: center;
          padding: 1rem;
          width: 100%;
          transition: all 0.4s ease-in-out;

          &.active-link {
            right: 0%;
            transition: all 0.4s ease-in-out;
          }

          &__item {
            width: 100%;
            line-height: 3;
            a {
              color: #2b2c3c;
            }
          }
        }
      }
    }
  }
}
