.header {
  background-image: url("../../../assets/background-header-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 755px;
  position: relative;

  &-container {
    z-index: 5;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3.5px);

    &__title {
      color: #ffeeff;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;

      h1 {
        font-size: 3rem;
        margin: 0 0.1rem;
        color: #2eb573;
        font-weight: bold;
      }
    }

    &__data {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #ffeeff;
      margin-top: 1rem;

      &-box {
        text-align: center;

        svg {
          width: 90px;
          height: 90px;
        }
        h6 {
          margin: 0.5rem 0;
          font-size: 1.8rem;
          font-weight: 600;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }

    @media screen and (max-width: 992px) {
      &__title {
        font-size: 1.3rem;
      }
      &__data {
        width: 60%;
      }
    }
    @media screen and (max-width: 768px) {
      &__title {
        font-size: 1.3rem;
      }
      &__data {
        width: 90%;
      }
    }
    @media screen and (max-width: 600px) {
      &__title {
        font-size: 1rem;
      }

      &__data {
        width: 100%;

        justify-content: space-around;
        svg {
          width: 80px;
          height: 80px;
        }
        h6 {
          margin: 0.5rem 0;
          font-size: 1.4rem;
          font-weight: 600;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}
