.box {
  width: 22%;
  height: auto;
  margin: 1rem auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  color: #ffeeff;
  padding: 1rem 0.6rem;

  &-icon {
    background-color: #2b2c3c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    img {
      width: 45px;
      height: 45px;
    }
  }
  &-title {
    font-size: 1.1rem;
    margin: 1rem 0;
    font-weight: 500;
    line-height: 2;
    height: 70px;
  }
  &-middle {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;

    &__student {
      color: #cdb187;
      background-color: #2b2c3c;
      font-size: 0.8rem;
      border-radius: 0.5rem;
      padding: 0.5rem 1.5rem;

      span {
        margin-right: 0.4rem;
      }
    }
  }
  &-action {
    margin: 0.5rem 0 0.1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 35%;
      height: 40px;
      background-color: #2eb573;
      border: none;
      border-radius: 1.5rem;
      color: #ffeeff;
      transition: all 0.4s ease-in-out;

      &:hover {
        background-color: transparent;
        transition: all 0.4s ease-in-out;
      }
    }
    a {
      font-size: 1.1rem;
      color: #ffeeff;
      font-weight: 500;
      transition: all 0.4s ease-in-out;

      &:hover {
        transition: all 0.4s ease-in-out;
        color: #2eb573;
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 45%;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
