.lists {
  padding: 3rem 0;
  color: #ffeeff;

  &-title {
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 200px;
      height: 4px;
      bottom: 0;
      border-radius: 0.5rem;
      background-color: #2eb573;
    }
  }
  &-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    
  }
}
