.side {
  width: 18%;
  background-color: #2c2b3b;
  padding: 1rem;

  &-title {
    color: #ffeeff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &-select{
    margin-bottom: 1rem;
  }
}
