@import url("https://v1.fontapi.ir/css/Estedad");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Estedad, sans-serif;
}

a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  width: 0.6em;
}

body::-webkit-scrollbar-thumb {
  background-color: #2eb573;
  border-radius: 0.2rem;
}

.contact {
  position: fixed;
  left: 1%;
  bottom: 4%;
  background-color: #028eb5;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  cursor: pointer;

  &:hover {
    transition: all 0.4s ease-in-out;
    background-color: #010eb5;
  }
}
