@import url("https://v1.fontapi.ir/css/Estedad");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Estedad, sans-serif;
}

a {
  text-decoration: none !important;
}

body::-webkit-scrollbar {
  width: .6em;
}

body::-webkit-scrollbar-thumb {
  background-color: #2eb573;
  border-radius: 0.2rem;
}
